/*GENERAL*/

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --pink: #ef449b;
    --voiletred: #271620;
    --whitesmoke: #f5ecf0;
    --green2: #e5e5e5;
    --green: #F0FDF6;
    --pear: rgba(225, 206, 206, 0.3);;
   }
   

body{
    margin: 0;
    padding:0;
    background: linear-gradient(rgba(1,1,1,1,));
    font-family: 'Mulish', 'Lato', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: black;
    background-size: 400%;
    animation: bg-animation 14s infinite alternate;
}

@keyframes bg-animation{
    0%{
        background-position: left;
    }
    100%{
        background-position: right;
    }
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
    transition: all 20s ease-in-out;
}
.floatbox div{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: rgba(182, 172, 177, 0.5);
    border: 2px solid rgb(182, 172, 177);
    border-radius: 10px;
}

.floatbox div:nth-child(1){
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;
}
.floatbox div:nth-child(2){
    top: 70%;
    left: 50%;
    animation: animate 7s linear infinite;
}
.floatbox div:nth-child(3){
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite;
}
.floatbox div:nth-child(4){
    top: 20%;
    left: 60%;
    animation: animate 10s linear infinite;
}
.floatbox div:nth-child(5){
    top: 67%;
    left: 10%;
    animation: animate 10s linear infinite;
}
.floatbox div:nth-child(6){
    top: 8%;
    left: 7%;
    animation: animate 6s linear infinite;
}
.floatbox div:nth-child(7){
    top: 30%;
    left: 50%;
    animation: animate 12s linear infinite;
}
.floatbox div:nth-child(8){
    bottom: 32%;
    left: 20%;
    animation: animate 16s linear infinite;
}
.floatbox div:nth-child(9){
    bottom: 45%;
    left: 25%;
    animation: animate 9s linear infinite;
}
.floatbox div:nth-child(10){
    bottom: 23%;
    left: 70%;
    animation: animate 5s linear infinite;
}

@keyframes animate{
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1
    }
    80%{
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}

img{
        max-width: 100%;
        height: auto; 
        transition: all 2s;
}

img:hover{
	transform: scale(1.2);
}


.btn-rounded{
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: green;
    color: black;
    border: 2px solid black;
    font-size: 16px;
    font-family: 'Fondamento',cursive;
}
.btn-rounded:hover{
    color: red;
}

.form-control{
    width: 400px;
    padding: 10px 10px;
    border: 2px solid black;
    outline: none;
    background: transparent;
}

.boxes .box{
    float: left;
    width: 30%;
    text-align: center;
    padding: 20px;
    transition: all ease-in-out;
}


/*nav and header*/
header{ 
    padding-top:30px;
    min-height: 70px;
    border-bottom: 1px solid black;
    background: var(--green);
}

header a{
    font-size: 16px;
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

header li{
    float: left;
    padding: 0px 20px 20px 20px;
}

header #Logo{
    float: left;
}

header #Logo h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

 h1 .pink, header .current a{
        color: black;
        font-weight: bold;
}

header a:hover, .disabled:hover{
    color:var(--gold);
    font-weight: bold;
    cursor: pointer;
}

#btn{
    background-color: transparent;
    border: 1px solid black;
    outline: none;
    border-radius: 3px;
    color: black;
    font-family: "Fondamento", cursive;
}

/* First Section after header "vision"*/
#vision{
    background:var(--green);
}

.centered h1{
    margin-top: 10%;
    text-align: center;
    font-size: 2em;
    line-height: 1px;
    letter-spacing: 10px;
    color: black;
}
.centered p{
    text-align: center;
    
}

#soonbox{
    float: right;
    margin-top: 10px;
    margin-left: 3px;
}

#visionbox{
    float: left;
    width: 50%;
    margin-top: 10px;
}

#vision h1{
    margin-top: 35px;
    font-size: 25px;
    letter-spacing: 10px;
}
#vision p{
    line-height: 20px;
}


/* second section "performance"*/
#performance{
    background: var(--green);
}
#rightbox{
    float: right;
    margin-top: 15px;
    width: 65%;
    left: 5px;
}

#centeredbox{
    float: left;
    }


/*mission the third section*/
#mission{
    background: var(--green);
}


/*features the fourth section*/
#features{
    background: var(--pear);
}


.middle  h3{
    font-size: 3rem;
    margin-top: 3em;  
}
footer.container{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
    margin: auto;
    background: var(--green);
}

  @media(max-width: 768px){
      header #Logo,
      header nav,
      header nav li, #soonbox, 
      #rightbox, #visionbox, #centeredbox,
        .boxes.box
      { 
        float: none;
        text-align: center;
        width: 100%;
      }

      .box{
          float: none;
      }

      .form-control,.btn-rounded{
          width: 100%
      }
      .centered h1, #middle h1, #app h1, h3 {
          font-size: 10px;
      }
  }