/*GENERAL*/

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --pink: #ef449b;
    --voiletred: #271620;
    --whitesmoke: #f5ecf0;
    --gold: #c7b215;
    --peach: #f1ccd2;
    --pear: #f09bcc;
   }
   

body{
    margin: 0;
    padding:0;
    font-family: 'Fondamento',cursive, 'Open-sans',sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}


img{
        max-width: 100%;
        height: auto;   
}

.register input[type="email"]{
    padding: 4px;
    height: 25px;
    width:250px;
}
.btn-rounded{
      height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    color: var(--whitesmoke);
    background: var(--gold);
    border: none;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
}

/*nav and header*/
header{ 
    background:var(--voiletred);
    color:var(--whitesmoke);
    padding-top:30px;
    min-height: 70px;
    border-bottom: 5px solid var(--gold);
}

header a{
    color:var(--whitesmoke);
    font-size: 16px;
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

header li{
    float: left;
    padding: 0px 20px 20px 20px;
}

header #Logo{
    float: left;
}

header #Logo h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

 h1 .pink, header .current a{
    color:var(--pink) !important;
    font-weight: bold;
}

header a:hover, .disabled:hover{
    color:var(--gold);
    font-weight: bold;
    cursor: pointer;
}

/* First Section after header "vision"*/
#vision{
    background: var(--peach);
    border-bottom: 5px solid var(--gold);
}

.centered h1{
    text-align: center;
    font-size: 2em;
    line-height: 1px;
    letter-spacing: 10px;
}
.centered p{
    text-align: center;
    
}

#soonbox{
    float: right;
    margin-top: 10px;
    margin-left: 3px;
}

#visionbox{
    float: left;
    width: 50%;
    margin-top: 10px;
}

#vision h1{
    margin-top: 35px;
    font-size: 25px;
    letter-spacing: 10px;
}
#vision p{
    line-height: 20px;
}


/* second section "performance"*/
#performance{
    background: var(--whitesmoke);
    border-bottom: 5px solid var(--gold);
    
}

#rightbox{
    float: right;
    margin-top: 15px;
    width: 65%;
    left: 5px;
}

#centeredbox{
    float: left;
    }

.boxes{
    border-bottom: 5px solid var(--gold);
}

.boxes .box{
    float: left;
    width: 30%;
    text-align: center;
    padding: 20px;
}

#middle h1{
    font-size: 3rem;;
    
}

/*Meet Our Team*/

#team{
    background: var(--whitesmoke);
}

/* Almost Done "app*/
#app{
    background: var(--pear);
}

#foot{
    background: var(--voiletred);
    padding: 20px;
    text-align: center;
    color:var(--whitesmoke);
   
}

[aos="fade"] {
    opacity: 0;
    transition-property: opacity;
  }
  
  [aos="fade"].aos-animate {
    opacity: 1;
  }
  